* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  background-color: #0a0a0a;
  color: #e0e0e0;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.app-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  font-family: system-ui, -apple-system, sans-serif;
  gap: 40px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.button {
  padding: 16px 24px;
  font-size: 16px;
  color: white;
  background: linear-gradient(180deg, #00f, #0000d0);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}

.button-secondary {
  background: none;
  border: 1px solid white;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.input-group {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.input {
  padding: 16px;
  font-size: 16px;
  background-color: transparent;
  color: #e0e0e0;
  border: 1px solid #3f3f46;
  border-radius: 12px;
  outline: none;
  width: 100%;
}

.error-message {
  color: #ff4444;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.data-display {
  background-color: #000020;
  padding: 20px;
  border-radius: 12px;
  max-width: 100%;
  overflow: auto;
  margin-top: 20px;
  border: 1px solid #0000D0;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  color: #addb67;
}

.t3k-api-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  text-decoration: none;

  span {
    color: #a1a1aa;
    width: auto;
  }
}

h1.app-title {
  font-size: 48px;
  color: white;
  width: 100%;
  text-align: center;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.select-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  width: auto;
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: blue;
}
